* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/bg.jpg");
}

.wrapper {
    width: 500px;
    margin: 0 auto;
}

.header {
    padding-top: 20px;
    color: #0b0944;
    font-family: 'Monotype Corsiva';
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.avatar-cont {
    padding-top: 20px;
    text-align: center;
}

.avatar-cont img {
    width: 180px;
    height: auto;
}

.about-me,
.why-fe,
.phone,
.motto {
    padding-top: 20px;
    color: #0b0944;
    font-family: 'Monotype Corsiva';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.why-fe li {
    list-style: none;
}
